.handle-horizontal {
    height: 100%;
    cursor: col-resize;
}

.handle-vertical {
    width: 100%;
    cursor: row-resize;
}

.default-horizontal-handle {
    width: 10px;
    height: 100%;
    background-color: #d3d3d3;
}

.default-vertical-handle {
    height: 10px;
    width: 100%;
    background-color: #d3d3d3;
}

.default-vertical-handle:hover {
    background-color: #a9a9a9;
}

.default-horizontal-handle:hover {
    background-color: #a9a9a9;
}

.default-vertical-handle:active {
    background-color: #808080;
}

.default-horizontal-handle:active {
    background-color: #808080;
}
